# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=event_management

# Authentication (JWT)
JWT_SECRET=event-management-secret
JWT_EXPIRES_IN=1h

# Kafka Configuration
KAFKA_BROKER=localhost:9092
